<!DOCTYPE html>
<html>
	<head>
		<title>24 Solver</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
	</head>
	<body>
		<form action="{{ url_for("process")}}" method="post">
			<div>
				<input type="number" autocomplete="off" name="number1" onkeypress="return event.charCode>=48 && event.charCode<=57" require><br>
				<input type="number" autocomplete="off" name="number2" onkeypress="return event.charCode>=48 && event.charCode<=57" require><br>
				<input type="number" autocomplete="off" name="number3" onkeypress="return event.charCode>=48 && event.charCode<=57" require><br>
				<input type="number" autocomplete="off" name="number4" onkeypress="return event.charCode>=48 && event.charCode<=57" require><br>
				<br>
				<button type="submit">Solve</button>
				<p>Answer: {{ answer }}</p>
			</div>
		</form>
		<script>
			const height = Math.max(window.innerHeight,
						document.getElementsByTagName("html")[0].clientHeight,
						document.getElementsByTagName("body")[0].clientHeight,
						screen.availHeight);
			const width = Math.max(document.body.scrollHeight,
						document.documentElement.scrollHeight,
						document.body.offsetHeight,
						document.documentElement.offsetHeight,
						document.documentElement.clientHeight);

			console.log(width, height)
			
			const max = Math.max(height, width)
			
			const inputs = document.getElementsByTagName("input");
			for (element of inputs) {
				element.setAttribute("style", `width: ${max/4}px;`);
			}
		</script>
	</body>
</html>